/* ===== Variables ===== */

:root {
  --main-color: #9ed2cf;
  --contrast-color: #6F0552;
  --main-font: 'Irish Grover', serif;
  --rel-size: 2rem;
}

/* ===== KEYFRAMES ===== */

@keyframes shake {
  10%, 90% {
    transform: translate(-1px, 0, 0);
    transform: rotate(1deg);
  }
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}

/* ===== GENERAL ===== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  min-width: 540px;
  background-color:  var(--main-color);
  font-family: var(--main-font);
  color: var(--contrast-color);
}

.canvas_container, header, .handle_container, .results_container, footer, .level_container {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.mobile_true {
  text-align: center;
  margin: 50px 20px;
  padding: 20px 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* === LANG BTN === */
.lang_btn {
  font-size: calc(var(--rel-size)*0.5);
  display: inline-block;
  position: absolute;
  right: 5vw;
  top: 20px;

  background-color: var(--contrast-color);
  border: 2px solid var(--contrast-color);
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all ease-in-out 0.25s;
  cursor: pointer;
}

/* === HEADER === */

header {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 40px;
}

.lang_btn:hover {
  background-color: #9EF53A;
  color: var(--contrast-color);
}

.lang_btn:active {
  background-color: #F5593A;
}

.lang_btn:focus {
  outline: none;
}

header h2 {
  font-size: calc(var(--rel-size)*1.5);
  margin: calc(var(--rel-size)*0.5);
  text-align: center;
}

header h2 span {
  font-size: calc(var(--rel-size)*1.25);
  padding-left: var(--rel-size);
}

.title {
  font-size: calc(var(--rel-size)*1.5);
  padding: calc(var(--rel-size)*.25);
  position: relative;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  text-align: center;
}

/* === HANDLE CONTAINER === */

.handle_container {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 40px;
}

.level_container {
  font-size: calc(var(--rel-size)*0.7);
  font-weight: bold;
  margin-bottom: 40px;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
}

.level_container p {
  margin-right: 20px;
  padding: 5px;
}

.levels button {
  font-size: calc(var(--rel-size)*0.7);
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font: var(--main-font);
  color: var(--contrast-color);
  margin-right: 10px;
  letter-spacing: 2px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/* TUTAJ MUSZĘ COŚ POPRAWIĆ */

.levels .inactive {
  color: #000;
  background-color: #ccc;
}

.levels .chosen {
  color: #fff;
  background-color: var(--contrast-color);
}

.levels button:hover {
  color: #fff;
  background-color: var(--contrast-color);
}

.levels button:focus {
  outline: 0;
}

.btn_easy {
  background-color:#9EF53A ;
}

.btn_medium {
  background-color: #3AF5BE;
}

.btn_hard {
  background-color: #F5593A;
}

.game_buttons, .game_result {
  text-align: center;
}

.game_result {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  width: 750px;
  margin: 0 auto;
}

.time {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;  
}

.time p {
  min-width: 100px;
  margin: 0;
  font-size: calc(var(--rel-size)*0.75);
}

.start_game, .reset_game {
  display: none;
  font-size: calc(var(--rel-size)*0.6);
  color: #fff;
  background-color: var(--contrast-color);
  border: none;
  padding: 5px 15px;
  font-family: var(--main-font);
  border-radius: 5px;
}

.start_game:hover, .reset_game:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #000;
}

.start_game:active, .reset_game:active {
  outline: none;
  background-color: green;
}

.start_game:focus, .reset_game:focus {
  outline: none;
}

.start_game.visible, .reset_game.visible {
  display: inline-block;
}


.score {
  font-size: calc(var(--rel-size)*0.75);
  padding: calc(var(--rel-size)*0.25);
  display: inline-block;
  margin: calc(var(--rel-size)*0.25) var(--rel-size) 0;
  min-width: 150px;
}

.time p {
  margin: 0;
}

.time p:last-of-type {
  min-width: 100px;;
}

.game_result span {
  font-size: calc(var(--rel-size)*0.75);
}

/* === CANVAS === */

.canvas_container {
  position: relative;
}

canvas {
  border: 2px solid black;
  background-image: url('../img/background.png');
  margin-bottom: 50px;
  box-shadow: 5px 5px 20px #000;
}

.game_overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  text-align: center;
}

.game_overlay.visible {
  display: inline-block;
}

.game_overlay p {
  color: var(--contrast-color);
  position: relative;
  top: 25%;
  font-size: var(--rel-size);
}

/* === Results === */

.results_container {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 30px;
}

.results_container h3 {
  font-size: var(--rel-size);
}

.results {
  font-size: calc(var(--rel-size)*0.75);
  margin-top: 20px;
  width: 80%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  list-style: none;
}

.results li {
  box-shadow: 2px 2px 5px black;
  min-width: 250px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack: center;
      justify-content: center;
  border-radius: 5px;
}

.results li p {
  float: left;
  padding-left: 10px;
}

/* === FOOTER === */

footer {
  margin-bottom: 10px;
}

.footer_container {
  text-align: center;
  padding: 10px;
  word-spacing: 4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 14px;
}

.footer_container img {
  width: 20px;
  margin-left: 10px;
}

/* ==== Media queries ==== */

@media only screen and (max-width: 720px) {
  :root {
    --rel-size: 1.75rem;
  }

  .game_result p {
    width: 200px;
  }
}

/* === HIDE LAND ELEMENTS === */

.hide {
  display: none;
}
